src/assets/java/elk-server-linux filter=lfs diff=lfs merge=lfs -text
src/assets/java/elk-server-win.exe filter=lfs diff=lfs merge=lfs -text
src/assets/java/elk-server-linux-arch filter=lfs diff=lfs merge=lfs -text
